.comment:last-child .comment-content {
    border: none !important;
}

.bd-placeholder-img {
    margin-right: 12px;
}

a {
    text-decoration-line: none;
}

.btn-link {
    text-decoration-line: none !important;
}