.heading-post{
    color: #fff !important;
}
.post-title {
    color: inherit;
}
.post-thumbnail {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.post-thumbnail-img {
    transform: rotate(-30deg);
}

.post:last-child .post-content {
    border: none !important;
    padding-bottom: 0 !important;
}

.bd-placeholder-img {
    margin-right: 12px;
}

a {
    text-decoration-line: none;
}

.btn-link {
    text-decoration-line: none !important;
}