@page
@using Microsoft.Extensions.Localization
@using EasyAbp.Forum.Localization
@model EasyAbp.Forum.Web.Pages.Forum.IndexModel
@inject IStringLocalizer<ForumResource> L
@{
}
<h1>Forum</h1>
<p>@L["SamplePageMessage"]</p>
